.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.week-picker td,
.week-picker td a {
    text-align: center;
}
/* .ui-datepicker-week-end a {
    background-image: none;
    background-color: red !important;
} */
.ui-datepicker-week-end a {
    background-color: #ff6666 !important;
    color: #000 !important;
}
/* table.ui-datepicker-calendar td.highlight {
    background-color: red !important;
} */
table.ui-datepicker-calendar td.highlight a {
    background: red !important;
    color: #fff;
}
